@media screen and (min-width:320px) and (max-width: 768px) {
  .section-contact,
  .container-information-contact,
  .sous-container-contact,
  .container-card-contact,
  .card-contact,
  .form-contact,
  .btn-contact{
    display: flex;
  }

  .section-contact {
    grid-area: m7;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container-information-contact {
    align-items: center;
    flex-direction: column;
  }

  .sous-container-contact {
    flex-direction: column;
    align-items: center;
  }

  .logo-contact {
    width: 50vw;
  }

  .titre-contact,
  .sous-titre-contact {
    color: #2D3E80;
    font-family: "Licenz plate";
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
  }

  .paragraphe-contact {
    margin: 20px 0px;
    color: #2D3E80;
    font-family: "Montserrat";
    text-align: center;
    width: 90%;
  }

  .container-card-contact {
    flex-direction: column;
    margin: 20px 0px;
  }

  .card-contact {
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
  }


  .titre-card-contact {
    margin: 30px 0px;
    color: #2D3E80;
    font-family: "Montserrat";
  }

  .form-contact {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
/* 
  .blocInputContactMikeVtc {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .labelContactMikeVtc {
    color: #2D3E80;
    font-family: "Montserrat";
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
  }

  .inputContactMikeVtc,
  .areaContactMikeVtc {
    outline: none;
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #2D3E80;
    text-align: center;
    font-size: 1em;
    color: #2d3e80c9;
    text-transform: uppercase;
  }

  .areaContactMikeVtc {
    height: 200px;
    padding-top: 10px;
  } */

  .btn-contact {
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #2D3E80;
    border: 1px solid #2D3E80;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px;
    margin: 20px 0px;
  }
}

@media screen and (min-width:768px ) and (max-width: 1024px) {
  .section-container,
  .container-information-contact,
  .sous-container-contact,
  .container-card-contact,
  .card-contact,
  .form-contact,
  .btn-contact {
    display: flex;
  }

  .section-container {
    grid-area: t7;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container-information-contact {
    align-items: center;
    flex-direction: column;
  }

  .sous-container-contact {
    flex-direction: column;
    align-items: center;
  }

  .logo-contact {
    width: 50vw;
  }

  .titre-contact,
  .sous-titre-contact {
    color: #2D3E80;
    font-family: "Licenz plate";
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
  }

  .paragraphe-contact {
    margin: 20px 0px;
    color: #2D3E80;
    font-family: "Montserrat";
    text-align: center;
    width: 90%;
  }

  .container-card-contact {
    flex-direction: row;
    width: 100%;
    height: 200px;
    align-items: center;
  }

  .card-contact {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .titre-card-contact {
    color: #2D3E80;
    font-family: "Montserrat";
    font-size: 1em;
  }

  .form-contact {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
/* 
  .blocInputContactMikeVtc {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .labelContactMikeVtc {
    color: #2D3E80;
    font-family: "Montserrat";
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
  }

  .inputContactMikeVtc,
  .areaContactMikeVtc {
    outline: none;
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #2D3E80;
    text-align: center;
    font-size: 1em;
    color: #2d3e80c9;
    text-transform: uppercase;
  }

  .areaContactMikeVtc {
    height: 200px;
    padding-top: 10px;
  } */

  .btn-contact {
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #2D3E80;
    border: 1px solid #2D3E80;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px;
    margin: 20px 0px;
  }
}


@media screen and (min-width: 1024px) {
  .section-contact,
  .container-information-contact,
  .sous-container-contact,
  .container-card-contact,
  .card-contact,
  .form-contact,
  .btn-contact {
    display: flex;
  }

  .section-contact {
    grid-area: d7;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container-information-contact {
    align-items: center;
    flex-direction: column;
  }

  .sous-container-contact {
    flex-direction: column;
    align-items: center;
  }

  .logo-contact {
    width: 20vw;
  }

  .titre-contact,
  .sous-titre-contact {
    color: #2D3E80;
    font-family: "Licenz plate";
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
  }

  .paragraphe-contact {
    margin: 20px 0px;
    color: #2D3E80;
    font-family: "Montserrat";
    text-align: center;
    width: 90%;
  }

  .container-card-contact {
    flex-direction: row;
    width: 100%;
    height: 200px;
    align-items: center;
  }


  .card-contact {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .titre-card-contact {
    color: #2D3E80;
    font-family: "Montserrat";
    font-size: 1em;
  }

  .form-contact {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* .blocInputContactMikeVtc {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .labelContactMikeVtc {
    color: #2D3E80;
    font-family: "Montserrat";
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
  }
  
  .inputContactMikeVtc,
  .areaContactMikeVtc {
    font-family: "Montserrat";
    outline: none;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #2D3E80;
    text-align: center;
    font-size: 1em;
    color: #2d3e80c9;
    text-transform: uppercase;
  }
  
  .areaContactMikeVtc {
    height: 200px;
    padding-top: 10px;
  } */

  .btn-contact {
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #2D3E80;
    border: 1px solid #2D3E80;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px;
    margin: 20px 0px;
    cursor: pointer;
  }
}