@media screen and (min-width: 320px) and (max-width: 768px) {
  .card-informations {
    display: flex;
  }
  
  .card-informations {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0px;
  }
  
  .titre-card-informations,
  .paragraphe-card-informations {
    color: #ffffff;
    font-family: "Montserrat";
    padding: 10px 0px;
  }

  .titre-card-informations {
    font-size: 1.3em;
    text-decoration: underline;
  }
  
  .paragraphe-card-informations {
    text-align: center;
    width: 70%;
  }

  .logo-information {
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-informations {
    display: flex;
  }
  
  .card-informations {
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  .titre-card-informations,
  .paragraphe-card-informations {
    color: #2D3E80;
    font-family: "Montserrat";
    padding: 10px 0px;
  }

  .titre-card-informations {
    text-decoration: underline;
  }
  
  .paragraphe-card-informations {
    text-align: center;
    width: 70%;
  }
  
  .logo-information {
    color: #2D3E80;
  }
}

@media screen and (min-width: 1024px) {
  .card-informations {
    display: flex;
  }

  .card-informations {
    vertical-align: top;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
    height: 250px;
  }


  .titre-card-informations,
  .paragraphe-card-informations {
    color: #2D3E80;
    font-family: "Montserrat";
    padding: 10px 0px;
  }

  .titre-card-informations {
    text-decoration: underline;
  }

  .paragraphe-card-informations {
    text-align: center;
    width: 50%;
  }

  .logo-information {
    color: #2D3E80;
  }
}

