@media screen and (min-width: 320px) and (max-width: 768px) {
  .section-informations,
  .container-engagement-informations,
  .container-securiter-informations {
    display: flex;

  }
  
  .section-informations {
    grid-area: m3;
    flex-direction: column;
    align-items: center;
    background-color: #2D3E80;
    width: 100%;
  }

  .container-engagement-informations,
  .container-securiter-informations {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px;
  }

  .titre-engagement-informations,
  .titre-securiter-informations {
    margin: 20px 0px;
    color: white;
    font-family: "licenz plates";
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-informations,
  .container-engagement-informations,
  .container-securiter-informations,
  .container-card-engagement-informations,
  .container-card-securiter-informations {
    display: flex;

  }

  .container-card-engagement-informations,
  .container-card-securiter-informations {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section-informations {
    grid-area: t3;
    flex-direction: column;
    align-items: center;
    background-color: #2D3E80;
    width: 100%;
  }

  .container-engagement-informations,
  .container-securiter-informations {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
  }

  .titre-engagement-informations,
  .titre-securiter-informations {
    margin: 20px 0px;
    color: white;
    font-family: "licenz plates";
    text-transform: uppercase;
    font-size: 2em;
  }
}


@media screen and (min-width: 1024px) {
  .section-informations,
  .container-engagement-informations,
  .container-securiter-informations,
  .container-card-engagement-informations,
  .container-card-securiter-informations {
    display: flex;

  }

  .container-card-engagement-informations,
  .container-card-securiter-informations {
    width: 100%;
    justify-content: center;
    height: 400px;
    align-items: center;
  }
  
  .section-informations {
    grid-area: d3;
    flex-direction: column;
    align-items: center;
    background-color: #2D3E80;
    width: 100%;
  }

  .container-engagement-informations,
  .container-securiter-informations {
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
  }

  .titre-engagement-informations,
  .titre-securiter-informations {
    margin: 20px 0px;
    color: white;
    font-family: "licenz plates";
    text-transform: uppercase;
    font-size: 2em;
  }
}