@media screen and (min-width: 320px) and (max-width: 768px) {
  .connexionBackOfficeMikeVtc,
  .formulaireConnexionBackOfficeMikeVtc,
  .blocInputConnexionBackOfficeMikeVtc,
  .btnConnexionBackOfficeMikeVtc {
    display: flex;
  }

  .connexionBackOfficeMikeVtc {
    grid-area: m1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titreConnexionBackOffcieMikeVtc {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2em;
    color: #2D3E80;
    text-decoration: underline;
  }

  .formulaireConnexionBackOfficeMikeVtc {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
    width: 450px;
  }

  .blocInputConnexionBackOfficeMikeVtc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .labelConnexionBackOfficeMikeVtc {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #2D3E80;
    font-family: "Montserrat";
  }

  .inputConnexionBackOfficeMikeVtc {
    width: 80%;
    margin: 10px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #2D3E80;
    outline: none;
    text-align: center;
  }

  .btnConnexionBackOfficeMikeVtc {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 25px;
    background: #2D3E80;
    color: white;
    border: none;
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .connexionBackOfficeMikeVtc,
  .formulaireConnexionBackOfficeMikeVtc,
  .blocInputConnexionBackOfficeMikeVtc,
  .btnConnexionBackOfficeMikeVtc {
    display: flex;
  }

  .connexionBackOfficeMikeVtc {
    grid-area: t1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titreConnexionBackOffcieMikeVtc {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2em;
    color: #2D3E80;
    text-decoration: underline;
  }

  .formulaireConnexionBackOfficeMikeVtc {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
    width: 450px;
  }

  .blocInputConnexionBackOfficeMikeVtc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .labelConnexionBackOfficeMikeVtc {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #2D3E80;
    font-family: "Montserrat";
  }

  .inputConnexionBackOfficeMikeVtc {
    width: 80%;
    margin: 10px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #2D3E80;
    outline: none;
    text-align: center;
  }

  .btnConnexionBackOfficeMikeVtc {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 25px;
    background: #2D3E80;
    color: white;
    border: none;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .connexionBackOfficeMikeVtc,
  .formulaireConnexionBackOfficeMikeVtc,
  .blocInputConnexionBackOfficeMikeVtc,
  .btnConnexionBackOfficeMikeVtc {
    display: flex;
  }

  .connexionBackOfficeMikeVtc {
    height: 100%;
    grid-area: d1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titreConnexionBackOffcieMikeVtc {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2em;
    color: #2D3E80;
    text-decoration: underline;
  }

  .formulaireConnexionBackOfficeMikeVtc {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
    width: 450px;
  }

  .blocInputConnexionBackOfficeMikeVtc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .labelConnexionBackOfficeMikeVtc {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #2D3E80;
    font-family: "Montserrat";
  }

  .inputConnexionBackOfficeMikeVtc {
    width: 80%;
    margin: 10px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #2D3E80;
    outline: none;
    text-align: center;
  }

  .btnConnexionBackOfficeMikeVtc {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 25px;
    background: #2D3E80;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}
