@media screen and (min-width: 320px) and (max-width: 768px) {
  .section-services,
  .sous-container-services,
  .container-content-services {
    display: flex;
  }

.section-services {
  grid-area: m5;
  flex-direction: column;
  align-items: center;
}

.titre-services {
  margin: 30px 0px;
  font-family: "licenz plates";
  color: #2D3E80;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 1vh;
}

.sous-container-services {
  flex-direction: column;
  width: 100%;
}


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-services,
  .sous-container-services,
  .container-content-services {
    display: flex;
  }

.section-services {
  grid-area: t5;
  flex-direction: column;
  align-items: center;
}

.titre-services {
  margin: 30px 0px;
  font-family: "licenz plates";
  color: #2D3E80;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 1vh;
}

.sous-container-services {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


}

@media screen and (min-width: 1024px) {
  .section-services,
  .sous-container-services,
  .container-content-services {
    display: flex;
  }

.section-services {
  grid-area: d5;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.titre-services {
  margin: 30px 0px;
  font-family: "licenz plates";
  color: #2D3E80;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 1vh;
}

.sous-container-services {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


}

