@import '../style/components/header/header.css';
@import '../style/components/navbar/navbar.css';
@import '../style/components/presentation/presentation.css';
@import '../style/components/information/information.css';
@import '../style/components/vehicule/vehicule.css';
@import '../style/components/service/services.css';
@import '../style/components/reservation/reservation.css';
@import '../style/components/contact/contact.css';
@import '../style/components/footer/footer.css';

@import '../style/pages/accueil.css';

@import '../style/components/information/card/informationCard.css';
@import '../style/components/service/card/serviceCard.css';
@import '../style/components/contact/form/fieldContact.css';
@import '../style/components/reservation/form/fieldReservation.css';
@import '../style/components/reservation/popup/popUp.css';






@font-face {
  font-family: 'consolas';
  src: url('../assets/font/consolas/Consolas.ttf');
  src: url('../assets/font/consolas/CONSOLA.TTF');
  src: url('../assets/font/consolas/CONSOLAB.TTF');
  src: url('../assets/font/consolas/consolai.ttf');
  src: url('../assets/font/consolas/consolaz.ttf');
}

@font-face {
  font-family: 'licenz plates';
  src: url('../assets/font/licenz/LicensePlate.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.App,
.accueil-mike-vtc,
.backOffice {
  height: 100vh;
}




