@media screen and (min-width: 320px) and (max-width: 768px) {

  .container-input-reservation,
  .container-formulaire-reservation {
    display: flex;
  }

  .container-formulaire-reservation,
  .sous-container-formulaire-reservation {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  }

  .container-formulaire-reservation:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .container-input-reservation {
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .label-reservation {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 0.8em;
  }

  .input-reservation {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ffffffe1;
    color: #2d3e8096;
    text-align: center;
    font-family: "Montserrat";
    outline: none;
  }

  .select-reservation {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ffffffe1;
    text-align: center;
    color: #2d3e8096;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-input-reservation,
  .container-formulaire-reservation {
    display: flex;
  }

  .container-formulaire-reservation,
  .sous-container-formulaire-reservation {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  }

  .container-formulaire-reservation:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .container-input-reservation {
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .label-reservation {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 0.8em;
  }

  .input-reservation {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ffffffe1;
    color: #2d3e8096;
    text-align: center;
    font-family: "Montserrat";
    outline: none;
  }

  .select-reservation {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ffffffe1;
    text-align: center;
    color: #2d3e8096;
  }
}

@media screen and (min-width: 1024px) {

  .container-input-reservation,
  .container-formulaire-reservation,
  .sous-container-formulaire-reservation {
    display: flex;
  }
  
  .container-formulaire-reservation,
  .sous-container-formulaire-reservation {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  }


  .container-formulaire-reservation:nth-of-type(2) {
    flex-direction: row;
    width: 50%;
  }

  .container-formulaire-reservation:nth-of-type(2) .input-reservation {
    width: 70%;
  }

  .container-input-reservation {
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .label-reservation {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 0.8em;
  }

  .input-reservation {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ffffffe1;
    color: #2d3e8096;
    text-align: center;
    font-family: "Montserrat";
    outline: none;
  }

  .select-reservation {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ffffffe1;
    text-align: center;
    color: #2d3e8096;
  }
}