@import '../style/components/header.css';
@import '../style/components/navbar.css';
@import '../style/components/presentation.css';
@import '../style/components/information.css';
@import '../style/components/vehicule.css';
@import '../style/components/services.css';
@import '../style/components/reservation.css';
@import '../style/components/contact.css';
@import '../style/components/footer.css';
@import '../style/pages/accueil.css';


@import '../style/components/smallComponents/informationCard.css';
@import '../style/components/smallComponents/serviceCard.css';
@import '../style/components/smallComponents/FormChampContact.css';
@import '../style/components/smallComponents/FormChampReservation.css';






@font-face {
  font-family: 'consolas';
  src: url('../assets/font/consolas/Consolas.ttf');
  src: url('../assets/font/consolas/CONSOLA.TTF');
  src: url('../assets/font/consolas/CONSOLAB.TTF');
  src: url('../assets/font/consolas/consolai.ttf');
  src: url('../assets/font/consolas/consolaz.ttf');
}

@font-face {
  font-family: 'licenz plates';
  src: url('../assets/font/licenz/LicensePlate.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.App,
.accueil-mike-vtc,
.backOffice {
  height: 100vh;
}




