@media screen and (min-width: 320px) and (max-width: 768px) {
  .section-vehicule,
  .container-modele-vehicule,
  .list-detail-vehicule,
  .item-detail-vehicule,
  .titre-item-list-detail-vehicule  {
    display: flex;
  }

  .section-vehicule {
    position: relative;
    grid-area: m4;
    background-image: url('../../../assets/images/car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
  }

  .filter-vehicule {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
  }

  .container-modele-vehicule {
    z-index: 2;
    flex-direction: column;
    align-items: center;
  }

  .container-detail-vehicule {
    width: 100%;
    z-index: 2;
  }

  .titre-vehicule {
    color: #2D3E80;
    text-transform: uppercase;
    font-family: "licenz plates";
    font-size: 1.8em;
    letter-spacing: 5vw;
  }

  .sous-titre-vehicule {
    color: white;
    font-family: "Montserrat";
    font-size: 1.5em;
  }

  .list-detail-vehicule {
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 20px;
  }

  .item-detail-vehicule {
    color: white;
    font-size: 2.2em;
    padding: 5px;
    font-family: "Montserrat";
    justify-content: center;
    align-items: center;
  }

  .titre-item-list-detail-vehicule {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #2D3E80;
    background-color: white;
  }

  .paragraphe-item-list-detail-vehicule {
    margin-left: 15px;
    font-size: 0.5em;
    font-family: 'Montserrat';
    font-style: italic;
    text-decoration: underline #2D3E80;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-vehicule,
  .container-modele-vehicule,
  .list-detail-vehicule,
  .item-detail-vehicule,
  .titre-item-list-detail-vehicule {
    display: flex;
  }

  .section-vehicule {
    position: relative;
    grid-area: t4;
    background-image: url('../../../assets/images/car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 700px;
  }

  .filter-vehicule {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
  }

  .container-modele-vehicule {
    z-index: 2;
    flex-direction: column;
    align-items: center;
  }

  .container-detail-vehicule {
    width: 100%;
    z-index: 2;
  }

  .titre-vehicule {
    color: #2D3E80;
    text-transform: uppercase;
    font-family: "licenz plates";
    font-size: 1.8em;
    letter-spacing: 5vw;
  }

  .sous-titre-vehicule {
    color: white;
    font-family: "Montserrat";
    font-size: 1.5em;
  }

  .list-detail-vehicule {
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 20px;
  }

  .item-detail-vehicule {
    color: white;
    font-size: 2.2em;
    padding: 5px;
    font-family: "Montserrat";
    justify-content: center;
    align-items: center;
  }

  .titre-item-list-detail-vehicule {
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #2D3E80;
    background-color: white;
  }

  .paragraphe-item-list-detail-vehicule {
    margin-left: 20px;
    font-size: 0.6em;
    font-family: 'Montserrat';
    font-style: italic;
    text-decoration: underline #2D3E80;
  }

}

@media screen and (min-width: 1024px) {
  .section-vehicule,
  .container-modele-vehicule,
  .list-detail-vehicule,
  .item-detail-vehicule,
  .titre-item-list-detail-vehicule {
    display: flex;
  }

  .section-vehicule {
    position: relative;
    grid-area: d4;
    background-image: url('../../../assets/images/car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1000px;
  }

  .filter-vehicule {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
  }

  .container-modele-vehicule {
    z-index: 2;
    flex-direction: column;
    align-items: center;
  }

  .container-detail-vehicule {
    width: 100%;
    z-index: 2;
  }

  .titre-vehicule {
    color: #2D3E80;
    text-transform: uppercase;
    font-family: "licenz plates";
    font-size: 2em;
    letter-spacing: 5vw;
  }

  .sous-titre-vehicule {
    color: white;
    font-family: "Montserrat";
    font-size: 1.5em;
  }

  .list-detail-vehicule {
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 20px;
  }

  .item-detail-vehicule {
    color: white;
    font-size: 2.2em;
    padding: 5px;
    font-family: "Montserrat";
    justify-content: center;
    align-items: center;
  }


  .titre-item-list-detail-vehicule {
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #2D3E80;
    background-color: white;
    z-index: 2;
  }

  .paragraphe-item-list-detail-vehicule {
    margin-left: 15px;
    font-size: 0.7em;
    font-family: 'Montserrat';
    font-style: italic;
    text-decoration: underline #2D3E80;
  }

}