@media screen and (min-width: 320px) and (max-width: 768px) {
  .section-presentation,
  .image-presentation,
  .container-presentation,
  .container-text-presentation {
    display: flex;
  }

  .section-presentation {
    grid-area: m2;
    flex-direction: column;
  }

  .image-presentation {
    background-image: url('../../../assets/images/profil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    justify-content: center;
    align-items: flex-end;
  }

  .container-presentation {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .titre-presentation,
  .sous-titre-presentation {
    color: white;
    text-transform: uppercase;
  }

  .titre-presentation {
    font-size: 3em;
    font-family: "licenz plate";
  }

  .sous-titre-presentation {
    font-family: "Montserrat";
    font-size: 1.5em;
  }

  .container-text-presentation {
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 60%;
  }

  .paragraphe-presentation {
    text-align: center;
    font-family: "Montserrat";
  }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-presentation,
  .image-presentation,
  .container-presentation,
  .container-text-presentation {
    display: flex;
  }

  .section-presentation {
    grid-area: t2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-presentation {
    background-image: url('../../../assets/images/profil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 300px;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-end;
  }

  .container-presentation {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .titre-presentation,
  .sous-titre-presentation {
    color: white;
    text-transform: uppercase;
  }

  .titre-presentation {
    font-size: 2em;
    font-family: "licenz plate";
  }

  .sous-titre-presentation {
    font-family: "Montserrat";
    font-size: 1em;
  }

  .container-text-presentation {
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 60%;
  }

  .paragraphe-presentation {
    text-align: center;
    font-family: "Montserrat";
    width: 80%;
  }

}

@media screen and (min-width: 1024px) {
  .section-presentation,
  .image-presentation,
  .container-presentation,
  .container-text-presentation {
    display: flex;
  }

  .section-presentation {
    grid-area: d2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .image-presentation {
    background-image: url('../../../assets/images/profil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 450px;
    margin: 0px 20px;
    justify-content: center;
    align-items: flex-end;
  }

  .container-presentation {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .titre-presentation,
  .sous-titre-presentation {
    color: white;
    text-transform: uppercase;
  }

  .titre-presentation {
    font-size: 3em;
    font-family: "licenz plate";
  }

  .sous-titre-presentation {
    font-family: "Montserrat";
    font-size: 1.5em;
  }

  .container-text-presentation {
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 50%;
  }

  .paragraphe-presentation {
    text-align: center;
    font-family: "Montserrat";
    width: 80%;
  }

}
